@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: black;
}

.logo {
  font-size: 18px;
  color: white;
}

.logo span span {
  color: white;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #4283B1;
  cursor: pointer;
}

.navbar .btn {
  display: inline-block;
  background: white;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: bolder;
  margin-left: 20px;
}

.content {
  width: 60%;
  height: 500px;
  background: white;
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  box-shadow: 0 0 15px black;
}

.banner {
  width: 40%;
  height: 480px;
  background-image: url('images/ai.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8px;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.wrapper {
  background: transparent;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h6 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.input_box {
  width: 350px;
  height: 30px;
  margin: 15px 0;
}

.input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(63, 60, 60);
  padding-left: 10px;
  color: black;
}

.input_box input::placeholder {
  color: black;
  padding-left: 15px;
}

.wrapper .remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin-bottom: 12px;
}

.remember_forgot label input {
  accent-color: white;
  margin-right: 3px;
}

.remember_forgot a {
  color: black;
  text-decoration: none;
}

.remember_forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 50px;
  background: #4283B1;
  border: none;
  outline: none;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.wrapper .register_link {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.register_link p a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.register_link p a:hover {
  text-decoration: underline;
}
